@import "./queries.css";
@import "./classes.css";

@layer page {
	.root {
		background-color: var(--gray);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		height: 100vh;
	}
	.main{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: auto;
		padding: var(--em-1);
		gap: var(--em-1);
		border-radius: var(--rad-1);
		background-color: var(--purple);
		aspect-ratio: 3/2;
		height: 75vmin;
		max-width: 90vw;
	}
	.main .left {
		background-color: antiquewhite;
		width: 48%;
	}
	.main .right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		padding-inline: var(--em-4);
		gap: var(--em-5);
		.head {
			text-align: start;
		}
		.form {
			width: 100%;
			align-self: stretch;
			border-radius: 20px;
			color: inherit;
			display: flex;
			flex-direction: column;
			gap: var(--em--1);
			label {
				display: grid;
				gap: var(--em);
				grid-template-columns: 1fr auto;
				color: white;
				text-align: left;
			}
			button[type="submit"] {
				margin-top: var(--em-3);
				padding: var(--em);
				border-radius: var(--em--3);
				background-color: oklch(60% 35% var(--h-purple));
				box-shadow: 0 2px 10px 2px oklch(0.2 0 0 / 0.2);
				&:hover {
					filter: var(--hover-bright-1);
				}
			}
			button[type="button"] {
				font-size: var(--em--1);
			}
			label {
				display: flex;
				flex-direction: column;
				gap: 0;
				input{
				}
			}
			label input,
			:global(.passinput) {
				background-color: oklch(38% 10% var(--h-purple));
				border-radius: var(--em--3);
			}
			label input {
				padding: var(--em);
			}
			:global(.passinput) {
				padding: var(--em--1);
				input {
					padding: 0;
				}
			}
			.conditions {
				display: flex;
				padding-inline: var(--em--1);
				align-items: center;
				label {
					align-items: center;
					flex-direction: row;
					gap: var(--em-1);
					input {
						color: oklch(60% 35% var(--h-purple));
					}
				}
			}
		}
	}
}
