.root {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: stretch;
	input {
		flex-grow: 1;
	}
	button {
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
		svg {
            fill: currentColor;
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}
