@layer theme {
	html {
		font-size: clamp(2px, 2.5vw, 1.8vmin);
	}
	:root {
		--main-h: 220deg;
		--main-c: 0.002;
		--main-l: 0.26;
		--l-1: 0.3;
		--l-2: 0.34;
		--l-3: 0.38;
		--l-4: 0.5;

		--em--5: 0.1rem;
		--em--4: 0.2rem;
		--em--3: 0.4rem;
		--em--2: 0.6rem;
		--em--1: 0.8rem;
		--em: 1rem;
		--em-1: 1.2rem;
		--em-2: 1.4rem;
		--em-3: 1.6rem;
		--em-4: 2rem;
		--em-5: 2.4rem;

		--rad-1: var(--em-2);
		--rad-2: var(--em-4);
		--rad-full: 100vmin;

		--h-purple: 300;

		--purple: oklch(30% 12% var(--h-purple));
		--gray: #686279;
		--bg-c-glass: oklch(40% 20% var(--h-purple) / 0.2);
		--ls-1: var(--em--5);

		--bf-glass: blur(10px);
		--hover-bright-1: brightness(1.2);
	}

	h2 {
		font-size: 250%;
		font-weight: 500;
	}

	input,
	textarea {
		background: none;
		outline: none;
		border: none;
		font-size: inherit;
		&::placeholder {
			color: oklch(from currentColor calc(l * 0.8) c h);
		}
	}
	a {
		color: oklch(81.984% 0.08 var(--h-purple));
	}
	input[type="checkbox"] {
		height: 0%;
		width: 0%;
		margin-right: 1rem;
        color: gray;
        &:checked::before{
            background-image: radial-gradient(currentColor 40%,white 45%);

        }
	}
	input[type="checkbox"]::before {
		position: relative;
		display: block;
		content: "";
		background-color: white;
		border-radius: 50%;
		height: 1rem;
		aspect-ratio: 1/1;
	}

}
