@layer component {
	.root {
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-color: oklch(0.4 0.01 260);
		padding: 0.25em 1em;
		gap: 0;
		border-radius: 0.5em;
		transition: 0.1s background-color ease;
		justify-content: space-between;
		&:hover {
			background-color: oklch(46.377% 0.00351 264.634);
		}
	}
	.title,
	.content {
		height: 1lh;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow-x: hidden;
		width: 100%;
		text-align: left;
	}
	.title {
		text-transform: uppercase;
		font-weight: bold;
	}
	.content {
		font-size: .8em;
		color: oklch(from currentColor calc(l * 0.9) c h);
	}
}
